@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Gowun+Batang:wght@400;700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Gowun+Batang:wght@400;700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Geist+Mono:wght@100..900&family=Gowun+Batang:wght@400;700&family=Quicksand:wght@300..700&display=swap");
@keyframes Flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  font-family: "Geist Mono", serif;
  border: solid 2px black;
  height: 5rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-image: linear-gradient(46Deg, #111827, #020409);
}

.Div_logo {
  position: relative;
  right: 6rem;
}

.Logo {
  font-family: "EB Garamond", serif;
  text-decoration: none;
  font-size: 32px;
  color: rgb(203, 203, 194);
  display: inline-block;
}

.Logo:hover {
  transform: scale(1.05);
  color: white;
}

.Div_lista {
  position: relative;
  left: 22rem;
}
.Div_lista ul {
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 35px;
}
.Div_lista li {
  list-style: none;
}
.Div_lista li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(203, 203, 194);
  display: inline-block;
}
.Div_lista a:hover {
  transform: scale(1.05);
  color: rgb(255, 255, 255);
}

.Div_Btn {
  position: relative;
  left: 6.8rem;
}
.Div_Btn button {
  height: 28px;
  width: 100px;
  border-radius: 9px;
  background-image: linear-gradient(46Deg, #bac9e8, #7b9ef5);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  font-family: "Geist Mono", serif;
}
.Div_Btn button:hover {
  color: rgb(255, 244, 244);
  transform: scale(1.1);
}

.Secao_Apresentacao {
  justify-content: space-around;
  align-items: center;
  display: flex;
  display: flex;
  flex-direction: column;
  background-image: url(../imagens/Imagem\ de\ fundo\ portifólio.jpg);
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
}
.Secao_Apresentacao img {
  width: 35px;
}

.Bloco_apoio_apresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 75vh;
}

.apresentacao_bloco {
  position: relative;
  width: 65vh;
}

.Traço_efeito1 {
  border: solid 1px rgb(255, 255, 255);
  width: 35px;
  position: relative;
  left: 45px;
  bottom: 15px;
}

.Traço_efeito2 {
  border: solid 1px rgb(255, 251, 251);
  width: 35px;
  position: relative;
  left: 395px;
  bottom: 15px;
}

.Texto_apresentacao {
  font-family: "EB Garamond", serif;
  color: wheat;
  text-align: center;
  font-size: 25px;
}

.RedesSociais_apresentacao {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.Frase_DescaParaMaisInformações {
  display: flex;
  justify-content: center;
  color: wheat;
  font-family: "Geist Mono", serif;
  position: relative;
  animation: Flutuar 2s ease-in-out infinite alternate;
}

.Mais_sobre_meus_servicos_e_tecnologias {
  background-image: linear-gradient(46Deg, #111827, #061029);
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CaixaPrincipalMaisserviços {
  border: solid 2px white;
  height: 100vh;
  width: 190vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.MaisSobreMeusServicos_tecnologias {
  border: solid 2px black;
}

.Div_fotoDePerfil {
  border: solid 2px wheat;
}
.Div_fotoDePerfil img {
  width: 250px;
  height: 250px;
}

.Tecnologias img {
  height: 85px;
}/*# sourceMappingURL=style.css.map */